{
  "openapi": "3.1.0",
  "info": {
    "title": "IntroDB API",
    "description": "Public API for fetching TV show intro timestamps",
    "version": "1.0.0",
    "contact": {
      "name": "IntroDB",
      "url": "https://introdb.app"
    }
  },
  "servers": [
    {
      "url": "http://api.introdb.app",
      "description": "Current environment"
    }
  ],
  "tags": [
    {
      "name": "intros",
      "description": "Public intros endpoints"
    },
    {
      "name": "submissions",
      "description": "Submit intro timestamps programmatically"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key for programmatic submissions (format: idb_...)"
      }
    }
  },
  "paths": {
    "/intro": {
      "get": {
        "tags": [
          "intros"
        ],
        "summary": "Get intro timestamps for an episode",
        "description": "Returns the aggregated intro start/end times for a specific TV show episode. Crowdsourced data from community submissions.",
        "operationId": "getIntro",
        "parameters": [
          {
            "name": "imdb_id",
            "in": "query",
            "required": true,
            "description": "IMDb ID (e.g., tt0944947 for Game of Thrones)",
            "schema": {
              "type": "string",
              "pattern": "^tt[0-9]{7,8}",
              "examples": {
                "got": {
                  "value": "tt0944947",
                  "summary": "Game of Thrones"
                },
                "breakingBad": {
                  "value": "tt0903747",
                  "summary": "Breaking Bad"
                }
              }
            }
          },
          {
            "name": "season",
            "in": "query",
            "required": true,
            "description": "Season number (starting from 1)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "examples": {
                "season1": {
                  "value": 1,
                  "summary": "Season 1"
                },
                "season3": {
                  "value": 3,
                  "summary": "Season 3"
                }
              }
            }
          },
          {
            "name": "episode",
            "in": "query",
            "required": true,
            "description": "Episode number (starting from 1)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "examples": {
                "episode1": {
                  "value": 1,
                  "summary": "Episode 1"
                },
                "episode10": {
                  "value": 10,
                  "summary": "Episode 10"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved intro timestamps",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "imdb_id": {
                      "type": "string",
                      "description": "IMDb ID"
                    },
                    "season": {
                      "type": "integer",
                      "description": "Season number"
                    },
                    "episode": {
                      "type": "integer",
                      "description": "Episode number"
                    },
                    "start_ms": {
                      "type": "integer",
                      "description": "Intro start time in milliseconds"
                    },
                    "end_ms": {
                      "type": "integer",
                      "description": "Intro end time in milliseconds"
                    },
                    "confidence": {
                      "type": "number",
                      "format": "float",
                      "description": "Confidence score (0-1) based on submission agreement"
                    },
                    "submission_count": {
                      "type": "integer",
                      "description": "Number of submissions that contributed to this aggregate"
                    }
                  },
                  "required": [
                    "imdb_id",
                    "season",
                    "episode",
                    "start_ms",
                    "end_ms",
                    "confidence",
                    "submission_count"
                  ],
                  "examples": {
                    "gotS1E1": {
                      "summary": "Game of Thrones S1E1",
                      "value": {
                        "imdb_id": "tt0944947",
                        "season": 1,
                        "episode": 1,
                        "start_ms": 1850000,
                        "end_ms": 2025000,
                        "confidence": 0.95,
                        "submission_count": 12
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid IMDb ID format"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Intro not found for this episode",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Intro not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/submit": {
      "post": {
        "tags": [
          "submissions"
        ],
        "summary": "Submit intro timestamps (API key required)",
        "description": "Submit intro timestamps for a TV show episode using your API key. Submissions appear in your account and contribute to crowdsourced data after verification.",
        "operationId": "submitIntro",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "imdb_id",
                  "season",
                  "episode",
                  "start_sec",
                  "end_sec"
                ],
                "properties": {
                  "imdb_id": {
                    "type": "string",
                    "pattern": "^tt[0-9]{7,8}",
                    "description": "IMDb ID",
                    "example": "tt0903747"
                  },
                  "season": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Season number",
                    "example": 1
                  },
                  "episode": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Episode number",
                    "example": 1
                  },
                  "start_sec": {
                    "type": "number",
                    "minimum": 0,
                    "description": "Intro start time in seconds",
                    "example": 2.5
                  },
                  "end_sec": {
                    "type": "number",
                    "minimum": 0,
                    "description": "Intro end time in seconds",
                    "example": 58
                  },
                  "tvdb_id": {
                    "type": "integer",
                    "description": "TVDB series ID (optional, improves accuracy)",
                    "example": 81189
                  },
                  "tmdb_id": {
                    "type": "integer",
                    "description": "TMDB series ID (optional, improves accuracy)",
                    "example": 1396
                  }
                }
              },
              "examples": {
                "breakingBad": {
                  "summary": "Breaking Bad S1E1",
                  "value": {
                    "imdb_id": "tt0903747",
                    "season": 1,
                    "episode": 1,
                    "start_sec": 2.5,
                    "end_sec": 58,
                    "tvdb_id": 81189,
                    "tmdb_id": 1396
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submission created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "example": true
                    },
                    "submission": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Submission ID"
                        },
                        "imdbId": {
                          "type": "string",
                          "description": "IMDb ID"
                        },
                        "season": {
                          "type": "integer"
                        },
                        "episode": {
                          "type": "integer"
                        },
                        "startMs": {
                          "type": "integer",
                          "description": "Start time in milliseconds"
                        },
                        "endMs": {
                          "type": "integer",
                          "description": "End time in milliseconds"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "pending",
                            "accepted",
                            "rejected"
                          ],
                          "description": "Submission status"
                        },
                        "weight": {
                          "type": "integer",
                          "description": "Submission weight"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (bad format, invalid episode, duration out of range)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "examples": [
                        "Invalid payload.",
                        "Episode does not exist for this show.",
                        "Intro duration must be between 5s and 180s."
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid API key"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (1 submission per episode per 10 minutes)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Rate limited for this episode."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}